# Django Settings
DEBUG=on
SECRET_KEY=change_me_in_production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DB_NAME=core_db
DB_USER=core_user
DB_PASSWORD=core_password
DB_HOST=db
DB_PORT=5432

# Bot Settings
BOT_TOKEN=
ADMIN_CHAT_ID=
TELEGRAM_CHANNEL_ID=

# Cloudflare Tunnel
TUNNEL_TOKEN=
